{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
    <div class="col-5">
        <table class="table col-15">
            <thead class="thead-dark">
                <th scope="row">성분 이름</th>
            </thead>
            <tbody class="tbody-light">
                {% for ingredient in ingredientNameList %}
                <tr>
                    <td>
                        {{ ingredient }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </ul>
    </div>
</div>
{% endblock %}