{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
    <div class="col-auto">
        <button type="button" class="btn btn-primary" onclick="location.href='/ingredient/register'">성분 추가</button>
    </div>
    <div class="col-10">
        <table class="table col-10 table-striped">
            <thead class=" thead-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">성분명</th>
                    <th scope="col">성분 분류</th>
                    <th scope="col">용량</th>
                    <th scope="col">단위</th>
                    <th scope="col">세부 내용</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for ingredient in ingredientList %}
                <tr>
                    <th scope="row">
                        {{ ingredient.id }}
                    </th>
                    <td scope="col">
                        {{ ingredient.ingredient_name }}
                    </td>
                    <td scope="col">
                        {{ ingredient.ingredient_class }}
                    </td>
                    <td scope="col">
                        {{ ingredient.ingredient_volume }}
                    </td>
                    <td scope="col">
                        {{ ingredient.ingredient_unit }}
                    </td>
                    <td scope="col">
                        {{ ingredient.ingredient_detail_content }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </ul>
    </div>
</div>
{% endblock %}